.durgun {
  --durgon-display-url: url("soulrender.svg");
  --durgon-alt-display-url: url("soulrender.svg");
}

.hidden {
  display: none;
}

.ded {
  transform: scaleY(-1);
}

button {
  margin-top: -2rem;
  border-radius: 10px;
  background-color: rgb(23, 131, 131);
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 60% 30%;
  align-items: center;
}

main > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(187, 184, 184, 0.897);
  margin: 0;
  font-size: 3rem;
}

.durgun {
  height: 50vh;
  width: 80vw;
  transition: all 1s;
  margin-bottom: 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
  width: 80vw;
  height: 60vh;
}

nav {
  width: 100vw;
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  background: linear-gradient(
    to right,
    rgba(187, 184, 184, 0.897),
    black 50%,
    red,
    green,
    orange,
    blue,
    purple,
    teal,
    white
  );
}

nav > * {
  margin-left: 30px;
}

nav > a {
  text-decoration: none;
}
