.durgun {
  --durgon-display-url: url("jailer.png");
  --durgon-alt-display-url: url("jailer.png");
  --durgon-alt-display-2-url: url("jailer.png");
  --durgon-alt-display-3-url: url("jailer.png.png");
}

.hidden {
  display: none;
}

.ded {
  transform: scaleY(-1);
}

button {
  margin-top: -2rem;
  border-radius: 10px;
  background-color: rgb(23, 131, 131);
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 60% 30%;
  align-items: center;
}

main > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(187, 184, 184, 0.897);
  margin: 0;
  font-size: 3rem;
}

.durgun {
  height: 50vh;
  width: 80vw;
  transition: all 1s;
  margin-bottom: 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(100, 200px);
  grid-auto-rows: max-content;
  grid-gap: 30px;
  width: 80vw;
  height: 60vh;
}

.gallery > * {
  height: 200px;
  width: 300px;
}

nav {
  width: 100vw;
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  background: linear-gradient(
    to right,
    rgba(187, 184, 184, 0.897),
    black 50%,
    red,
    green,
    orange,
    blue,
    purple,
    teal,
    white
  );
}

nav > * {
  margin-left: 30px;
}

nav > a {
  text-decoration: none;
}

.fade-in-out {
  color: rgba(0, 0, 0, 0);
  animation-name: fade;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.rawr-cloud {
  position: relative;
}
.offset-0 {
  animation-delay: 2s;
}

.offset-0.fade-in-out {
  animation-duration: 8s;
}

.offset-1 {
  position: absolute;
  top: 1.5rem;
  left: 10px;
  animation-delay: 0.8s;
}

.offset-2 {
  position: absolute;
  top: -1rem;
  left: 5rem;
  animation-delay: 0.3s;
}

.offset-3 {
  position: absolute;
  top: 2.5rem;
  left: 8rem;
  animation-delay: 1.3s;
}

.cloud {
  font-size: 2rem;
  opacity: 0.8;
}

@keyframes fade {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  30% {
    color: rgba(0, 0, 0, 1);
  }
  60% {
    color: rgba(0, 0, 0, 1);
  }
  90% {
    color: rgba(0, 0, 0, 0);
  }
}
